name: Test-Release

on:
  push:
    branches-ignore: [dependabot/**]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    name: test release

    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # 2.6.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            registry.npmjs.org:443

      - name: Get branch name
        uses: tj-actions/branch-names@2e5354c6733793113f416314375826df030ada23 # 6.5
        id: branch-name

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # 4.1.1

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@61680d0e9b02ff86f5648ade99e01be17f0260a4 # 4.0.0
        id: semantic
        with:
          dry_run: true
          semantic_version: 19.0.2
          branch: ${{ steps.branch-name.outputs.current_branch }}
          extends: |
            @rweich/semantic-release-config
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Test Outputs
        run: |
          cat <<EOO >> $GITHUB_STEP_SUMMARY
            ---

            ### Semantic release output (DRY-RUN)

            <table>
              <tr><th>published</th><td>${{ steps.semantic.outputs.new_release_published }}</td></tr>
              <tr><th>last release</th><td>${{ steps.semantic.outputs.last_release_version }}</td></tr>
              <tr><th>next release</th><td>${{ steps.semantic.outputs.new_release_version }}</td></tr>
            </table>

            ---

            #### Release-Notes

            ${{ steps.semantic.outputs.new_release_notes }}

          ---
          EOO
